<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<form th:method="POST" th:action="@{/user-update}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <label for="city">Enter city: </label>
    <input type="text" th:field="*{city}" id="city"/>

    <input type="submit" value="Update user">
</form>
</body>
</html>